@import url('https://fonts.googleapis.com/css?family=Roboto');

#pushChatWidget {
    position: fixed;
    right: 0px;
    top: 0px;
    max-width: 380px;
    height: 100%;
    overflow: hidden;
    display: block;
    border: none;
    z-index: 1000000;
    margin: 0 -380px 0 0;
    transition: all .3s;
    pointer-events: none;
    max-height: 620px;
    width: 320px;
    bottom: 0;
    top: auto;
    border-radius: 10px;
    box-shadow: -4px -4px 12px 0 rgba(181,181,181,0.67);
    background-color: #fdfdfd;
    animation-name: fadeInRight;
    animation-duration: 1s;
    animation-fill-mode: both;
}

#pushChatWidget p.text {
    font-weight: 300 !important;
    font-family: 'Roboto', sans-serif !important;
    box-sizing: border-box !important;
    font-size: 13.8px;
    color: #fff !important;
    word-wrap: break-word;
}

#pushChatWidget.active {
    transition: all .3s;
    margin: 0;
}

#pushChatWidget .conversation {
    position: absolute;
    left: 0px;
    bottom: 83px;
    box-sizing: border-box;
    padding: 0 0px 0 0;
    overflow-x: hidden;
    overflow-y: scroll;
    pointer-events: all;
    width: 105%;
    max-height: calc(91% - 75px);
}

#pushChatWidget .after {
    height: 1vh;
    width: 100%;
    display: block;
}

#pushChatWidgetClose {
    width: 26px;
    height: 36px;
    position: fixed;
    bottom: 570px;
    right: -7px;
    transform: scale(.9);
    opacity: .7;
    transition: all .3s;
    z-index: 100000;
    pointer-events: all;
}

#pushChatWidgetClose:hover {
    opacity: 1;
}

#pushChatWidgetClose .close-button {
    height: 26px;
    width: 26px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
    border-radius: 50%;
    background-color: #8A8A8A;
    cursor: pointer !important;
}

#pushChatWidgetClose .close-button:before,
#pushChatWidgetClose .close-button:after {
    width: 100%;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) scale(.5);
    content: '';
    background-color: #fff;
}

#pushChatWidgetClose .close-button:after {
    transform: translate(-50%,-50%) rotate(90deg) scale(.5);
}

#pushChatWidgetStart {
	background-color: #FFFFFF;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-image: url(https://s3.amazonaws.com/udo-rapidpro-static-app/push-widget/assets/logo_bigger.png);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: background-position 1s;
    transition: background-position 3s;
    background-size: 100%;
    z-index: 1000000;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    -webkit-box-shadow: 1px 1px 5px 1px rgba(28,171,226,1);
  	-moz-box-shadow: 1px 1px 5px 1px rgba(28,171,226,1);
  	box-shadow: 1px 1px 5px 1px rgba(28,171,226,1);
}

#pushChatWidget .bubble {
	width: 100%;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 20px;
    display: inline-block;
}

#pushChatWidget .bubble a {
    color: #fff;
}

#pushChatWidget .body {
    font-weight: 300;
    font-family: 'Roboto', sans-serif !important;
    box-sizing: border-box;
    display: inline-block;
	font-size: 13.8px;
	color: #fff;
	background-color: #8427d6;
	border-radius: 10px;
    padding: 10px 10px 10px 25px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1), 0 8px 16px rgba(0,0,0,0.2);
    min-height: 50px;
    line-height: 120% !important;
}

#pushChatWidget .body ul {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color:#8427d6;
}

#pushChatWidget .body ul li {
    width: inherit;
    display: inline-block;
    list-style: none;
    border-top: 1px solid #8427d6;
    max-height: 39px !important;
    height: auto !important;
}

#pushChatWidget p {
    margin: 7px 0 7px 0 !important;
    padding: 0 !important;
}

#pushChatWidget .actions {
    background: transparent !important;
    margin: 10px auto;
    display: table;
    padding: 2px;
    white-space: nowrap;
}

#pushChatWidget .actions.activeScroll {
    overflow-x: scroll !important;
    display: block !important;
    margin-right: 25px !important;
}

#pushChatWidget .cards {
    background: transparent !important;
    margin: 10px auto;
    text-align: center;
    display: block;
    padding: 2px;
    white-space: nowrap;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}

#pushChatWidget .actions ul, #pushChatWidget .cards ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: table-row;
    white-space: nowrap;
}

#pushChatWidget .actions ul li, #pushChatWidget .cards ul li {
    display: table-cell;
    padding: 2px;
}

#pushChatWidget .actions ul a {
    padding: 5px 10px 4px 12px;
    text-decoration: none;
    background-color: #8427d6;
    border-radius: 35px;
    height: 31px;
    vertical-align: middle;
    display: table-cell;
}

#pushChatWidget .actions ul li a img{
    max-width: initial !important;
}

#pushChatWidget .cards {
    overflow-x: scroll;
}

#pushChatWidget .cards ul {
    display: inline;
    padding: 0 30px;
}

#pushChatWidget .cards ul li {
    background-color: #FFF !important;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-webkit-border-radius: 10px;
    -ms-webkit-border-radius: 10px;
    width: 220px;
    position: relative;
    border: 1px solid #DDD;
    padding: 0;
    margin: 0 5px;
    display: inline-block;
}

#pushChatWidget .cards ul li a {
    padding: 0;
}

#pushChatWidget .cards ul li .card-img {
    width: 100%;
    height: 120px;
    border-bottom: 1px solid #DDD;
    border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -o-webkit-border-radius: 10px 10px 0 0;
    -ms-webkit-border-radius: 10px 10px 0 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    -moz-background-size: contain;
    -ms-background-size: contain;
    -webkit-background-size: contain;
    -o-background-size: contain;
}

#pushChatWidget .cards ul li .card-title {
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 8px;
    text-align: left;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    color: #000;
    font-family: 'Roboto', sans-serif !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#pushChatWidget .cards ul li .card-title span {
    width: 100%;
    display: block;
    font-size: 12px;
    color: #CCC;
    font-weight: normal;
    word-wrap: break-word;
    word-break: normal;
    white-space: pre-wrap;
    margin: 3px 0;
    color: rgb(137, 137, 137);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#pushChatWidget .cards ul li .card-title span.content-summary {
    height: 28px;
    -moz-line-clamp: 2;
    -ms-line-clamp: 2;
    -o-line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -o-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(92, 92, 92);
}

#pushChatWidget .cards ul li .card-button-action {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
}

#pushChatWidget .cards ul li .card-button-action a {
    width: 100%;
    display: block;
    padding: 10px;
    border-top: 1px solid #CCC;
    font-size: 14px;
    color: #6E4DFC;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    font-family: 'Roboto', sans-serif !important;
    text-decoration: none;
    text-align: center;
}

#pushChatWidget a.text {
    font-weight: 300 !important;
    font-family: 'Roboto', sans-serif !important;
    box-sizing: border-box !important;
    font-size: 13.8px;
    color: #fff !important;
    word-wrap: break-word;
    padding-left: 4px;
    padding-top: 6px;
}

#pushChatWidget .body ul li:first-child {
    border-top: 1px solid transparent;
}

#pushChatWidget .body ul li a {
    color: #fff;
    padding: 12px 0;
    display: block;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

#pushChatWidget .response {
	background-color:#ffffff;
	color:#8427d6;
    position: relative;
    float: right;
    padding: 10px;
}

#pushChatWidget .input-content {
    margin-right: 10px;
}

#pushChatWidget .data-wrapper {
    resize: none;
    border: none;
    background-color: transparent;
    font-size: 13.8px;
    line-height: 18px;
    color: #272727;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    padding: 8px;
    outline: none;
}

#pushChatWidget .button-send {
    background: url(https://s3.amazonaws.com/udo-rapidpro-static-app/push-robot-arrow.png) no-repeat;
    cursor: pointer;
    border: none;
    width: 28px;
    height: 19px;
    position: absolute;
    top: 24px;
    right: 0px;
    z-index: 999999;
    outline: none;
}

#pushChatWidget .powered-by {
    padding: 0px 36px 0 17px;
    box-sizing: border-box;
    margin-bottom: 0px;
    position: absolute;
    bottom: 7px;
    right: 7px;
    pointer-events: all;
    text-decoration: none;
    color: #8A8A8A;
    font-size: 9px;
    font-family: 'Roboto', sans-serif !important;
}

#pushChatWidget .form-send {
    width: 100%;
    padding: 0 14px;
    box-sizing: border-box;
    margin-bottom: 0px;
    position: absolute;
    bottom: 25px;
    pointer-events: all;
}

#pushChatWidget .form-send .user-response {
	background-color: #ffffff;
    color: #8427d6;
    position: relative;
    font-weight: 300;
    font-family: 'Roboto', sans-serif !important;
    box-sizing: border-box;
    font-size: 12px;
    border-radius: 10px;
    padding: 13px 30px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1), 0 8px 16px rgba(0,0,0,0.2);
    min-height: 63px;
    line-height: 120% !important;
}

#pushChatWidget .user-response form {
    margin-bottom: 0px;
}

#pushChatWidget .empty {
    background-color: transparent !important;
    box-shadow: unset;
    line-height: 0px !important;
    padding: 0px;
    margin-top: -10px !important;
}

#pushChatWidget .none {
    display: none;
}

#pushChatWidget .avatar {
	position: absolute;
    top: 7px;
    left: -18px;
    background-image: url(https://s3.amazonaws.com/udo-rapidpro-static-app/push-widget/assets/logo.png);
    background-color: #FFFFFF;
    height: 36px;
    width: 36px;
    border-radius: 18px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#pushChatWidget .hidden-load {
    visibility: hidden;
}

#pushChatWidget .img-responsive {
    width: 100%
}

#pushChatWidget #pushChatMessages {
    padding: 8px 30px;
    padding-right: 10px;
    box-sizing: border-box;
}

#pushChatWidget.embedWidget {
    position: relative !important;
    max-width: 100% !important;
}

#pushChatWidget .embedWidgetMessages {
    padding-right: 60px !important;
}

#pushChatWidget .embedWidgetConversation {
    width: calc(100% + 20px);
}

#pushChatWidget.embedWidget p.text {
    font-size: 16px;
}

#pushChatWidget.embedWidget a.text {
    font-size: 16px;
}

#pushChatWidget.embedWidget .body {
    font-size: 16px;
}

#pushChatWidget .bubble-cards .prev, #pushChatWidget .bubble-cards .next {
    display: inline !important;
}

#pushChatWidget .prev, #pushChatWidget .next {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    display: block;
    cursor: pointer;
    display: none;
}

#pushChatWidget .next {
    right: 0;
}

#pushChatWidget .prev {
    left: -25px;
}

#pushChatWidget .next svg, #pushChatWidget .prev svg {
    width: 25px;
}

#pushChatWidget .actionsScroll {
    overflow: hidden !important;
}

#pushChatWidget #actions .slider {
    overflow: unset;
    white-space: nowrap;
}

#pushChatWidget .actions::-webkit-scrollbar {
    display: none;
}

#pushChatWidget .cards::-webkit-scrollbar {
    display: none;
}

@media (max-width: 768px) {

    #pushChatWidget .cards ul {
        padding: 0;
    }

    #pushChatWidget .cards ul li {
        width: 96%;
    }

}

@media (max-width: 325px) {
  #pushChatWidget {
    max-width: 240px;
  }
}

@media (max-width: 840px) {
    #pushChatWidget .actions {
        overflow-x: scroll !important;
        margin-right: 25px !important;
        display: block !important;
    }

    #pushChatWidget .prev {
        display: inline;
    }

    #pushChatWidget .next {
        display: inline;
    }

    #pushChatWidget .body {
        font-size: 12px;
    }

    #pushChatWidget p.text {
        font-size: 12px;
    }

    #pushChatWidget a.text {
        font-size: 12px;
    }

    #pushChatWidget .data-wrapper {
        font-size: 12px;
    }

    #pushChatWidget.embedWidget p.text {
        font-size: 12px;
    }

    #pushChatWidget.embedWidget a.text {
        font-size: 12px;
    }

    #pushChatWidget.embedWidget .body {
        font-size: 12px;
    }
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(1.1, 1.1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

@media (max-height: 530px) {
  #pushChatWidget {
    max-height: calc(100% - 45px);
  }

  #pushChatWidgetClose {
      bottom: 570px;
  }

  #pushChatWidget .conversation {
    max-height: calc(88% - 75px);
  }

  #pushChatWidgetClose .close-button {
    height: 20px;
    width: 20px;
    background-color: #bbbbbb;
  }
}

#pushChatWidgetStart:after {
	content: '';
	width: 60px;
	height: 60px;
	border: 4px solid #1CABE2;
	border-radius: 50%;
	position: absolute;
	animation: pulsate infinite 1.4s;
}
